<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="assets/plugins/emojionearea/dist/emojionearea.min.css" rel="stylesheet">
        <link href="assets/dist/css/chat-ui.css" rel="stylesheet">
        <title>Chat UI</title>
    </head>
    <body>
        <div class="bd-live-chat">
            <header class="chat-header d-flex align-items-center justify-content-between" style="background: #3e454c;">
                <h4>Mozammel Hoque</h4>
                <div class="d-flex">
                    <div class="dropdown chat-settings">
                        <button class="btn" data-toggle="dropdown" aria-haspopup="true"><i class="fas fa-cog"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="fas fa-phone"></i>Voice Call</a>
                            <a href="#" class="dropdown-item"><i class="fas fa-video"></i>Video Call</a>
                            <hr>
                            <a href="#" class="dropdown-item"><i class="fas fa-times"></i>Clear History</a>
                            <a href="#" class="dropdown-item"><i class="fas fa-ban"></i>Block Contact</a>
                            <a href="#" class="dropdown-item"><i class="fas fa-trash-alt"></i>Delete Contact</a>
                        </div>
                    </div>
                    <a href="#" class="btn chat-close"><i class="fas fa-times"></i></a>
                    <a href="#" class="btn chat-toggle">
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <!--<span class="chat-message-counter">3</span>-->
                </div>
            </header>
            <div class="bd-chat">
                <div class="bd-message-content">
                    <div class="position-relative">
                        <div class="date">
                            <hr><span>Yesterday</span><hr>
                        </div>
                        <div class="message">
                            <img class="avatar" src="assets/dist/img/avatar/avatar-5.png" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                            <div class="text-main">
                                <span class="time-ago">09:46 AM</span>
                                <div class="text-group">
                                    <div class="text">
                                        <p>It is a long established fact that a reader will be.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message me">
                            <div class="text-main">
                                <span class="time-ago">11:32 AM</span>
                                <div class="text-group me">
                                    <div class="text me">
                                        <p> By the readable content of a page when looking at its?</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message">
                            <img class="avatar" src="assets/dist/img/avatar/avatar-5.png" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                            <div class="text-main">
                                <span class="time-ago">02:56 PM</span>
                                <div class="text-group">
                                    <div class="text">
                                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message me">
                            <div class="text-main">
                                <span class="time-ago">10:21 PM</span>
                                <div class="text-group me">
                                    <div class="text me">
                                        <p>Roger that boss!</p>
                                    </div>
                                </div>
                                <div class="text-group me">
                                    <div class="text me">
                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their!</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message">
                            <img class="avatar" src="assets/dist/img/avatar/avatar-5.png" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                            <div class="text-main">
                                <span class="time-ago">11:07 PM</span>
                                <div class="text-group">
                                    <div class="text">
                                        <p> Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).!</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="date">
                            <hr><span>Today</span><hr>
                        </div><!--/.date-->
                        <div class="message me">
                            <div class="text-main">
                                <span>10:21 PM</span>
                                <div class="text-group me">
                                    <div class="text me">
                                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                                    </div>
                                </div>
                                <div class="text-group me">
                                    <div class="text text-img me">
                                        <img src="assets/dist/img/user.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message">
                            <img class="avatar" src="assets/dist/img/avatar/avatar-5.png" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                            <div class="text-main">
                                <span>11:07 PM</span>
                                <div class="text-group">
                                    <div class="text">
                                        <div class="attachment">
                                            <button class="btn attach"><i class="fas fa-file-pdf"></i></button>
                                            <div class="file">
                                                <h5><a href="#">Documentations.pdf</a></h5>
                                                <span>21kb Document</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message me">
                            <div class="text-main">
                                <span><i class="fas fa-check"></i>10:21 PM</span>
                                <div class="text-group me">
                                    <div class="text me">
                                        <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing!</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                        <div class="message">
                            <img class="avatar" src="assets/dist/img/avatar/avatar-5.png" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                            <div class="text-main">
                                <div class="text-group">
                                    <div class="text typing">
                                        <div class="wave">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.message-->
                    </div>
                </div>
                <div class="chat-area-bottom d-flex align-items-center">
                    <form class="position-relative w-100">
                        <input class="form-control emojionearea" placeholder="Type a message here...">
                        <!--<button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>-->
                        <button type="submit" class="btn send"><i class="fab fa-telegram-plane"></i></button>
                    </form>
                    <label>
                        <input type="file">
                        <span class="btn attach d-sm-block d-none"><i class="fas fa-paperclip"></i></span>
                    </label> 
                </div><!--/.chat area bottom-->
            </div><!--/.chat -->
        </div><!--/.live-chat -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="assets/plugins/jQuery/jquery-3.3.1.min.js"></script>
        <script src="assets/dist/js/popper.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/emojionearea/dist/emojionearea.min.js"></script>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".bd-chat").slideDown("slow");
                }, 3000);
                $(".chat-toggle").on("click", function () {
                    $(".bd-chat").slideToggle(300, "swing");
                    $(this).toggleClass('open');
                });
                $(".chat-close").on("click", function (e) {
                    e.preventDefault();
                    $(".bd-live-chat").hide();
                });
            });
        </script>
        <script>
            //emojionearea
            $(".emojionearea").emojioneArea({
                pickerPosition: "top",
                tonesStyle: "radio"
            });
        </script>
    </body>
</html>