<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
	</system.webServer>
	<system.web>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<connectionStrings>
	  
		<add name="productionDB" connectionString="Server=192.168.48.213;Port=5432;User Id=simlitekdb;Password=db51mlit3kk3s;Database=simlitabkes;CommandTimeout=4;Maximum Pool Size=1000;Minimum Pool Size=0;Connection Idle Lifetime=120;" providerName="Npgsql" />

		<!-- 
		
		<add name="productionDB" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=123456;Database=Simlitabkes0212;CommandTimeout=4;Maximum Pool Size=1000;Minimum Pool Size=0;Connection Idle Lifetime=120;" providerName="Npgsql" />
	  
		<add name="pelatihanDB" connectionString="Server=192.168.48.213;Port=5432;User Id=simlitekdb;Password=db51mlit3kk3s;Database=db_pelatihan;CommandTimeout=4;Maximum Pool Size=1000;Minimum Pool Size=0;Connection Idle Lifetime=120;" providerName="Npgsql" />
		<add name="developmentDB" connectionString="Server=192.168.48.213;Port=5432;User Id=simlitekdb;Password=db51mlit3kk3s;Database=db_test1;CommandTimeout=4;Maximum Pool Size=1000;Minimum Pool Size=0;Connection Idle Lifetime=120;" providerName="Npgsql" />
		

	  <add name="lokal" connectionString="Server=localhost; Port=5432; User Id=postgres;Password=123456*;Database=Simlitabkes111121;" providerName="Npgsql" />
	  <add name="lokal" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=123456;Database=Simlitabkes111121;CommandTimeout=4;Maximum Pool Size=1000;Minimum Pool Size=0;Connection Idle Lifetime=120;" providerName="Npgsql" />
	   -->
	</connectionStrings>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />

			</dependentAssembly>
			<!---->
			<dependentAssembly>

				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>

	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;" />
		<!-- 
    Pengaturan connection string
    production : untuk mode production (menggunakan productionDB)
    development: untuk mode development (menggunakan developmentDB)
    pelatihan: untuk mode development (menggunakan pelatihanDB)
    lokal: untuk mode lokal db
    -->
		<add key="runnigmode" value="production" />
	</appSettings>

</configuration>
